.create-product {
  padding: 2rem;

  .container {
    width: 30rem;

    margin: 0 auto;
    padding: 1.5rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .form-group {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
      }

      input.checkbox {
        width: max-content;
      }

      input,
      textarea {
        width: 100%;
        padding: 0.75rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        outline: none;

        &:focus {
          border-color: #007bff;
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
      }

      textarea {
        resize: vertical;
        height: 5rem;
      }
    }

    .btns-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;
    }

    .btn {
      width: 100%;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: background 0.3s;

      &.btn-primary {
        background: #007bff;
        color: #fff;

        &:hover {
          background: #0056b3;
        }
      }

      &:hover {
        background: #f0f0f0;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      max-width: 75rem;
    }
  }

  @media (max-width: 23.4375rem) {
    .container {
      max-width: 23.4375rem;
      padding: 0.5rem;
    }
  }
}
